/* ----------
 *  Base 
 * ------- */
html {
    /* Base font-size, defined here to use with rem */
    font-size: 100%; /* user defined, or default 16px */
}

body {
    padding: 0;
    margin: 0;
    font-size: 22px;
    line-height: 26px;
    overflow: hidden;
}

p, table, .vntn, .main-text, .trash {
    font-family: 'sf_cartoonist_handregular', Arial, Helvetica, sans-serif;
    letter-spacing: 0.7px;
    font-size: 25px;
    line-height: 26px;
    text-align: left;
    margin: 0px;
}

a {
    outline: none;
}

button {
	outline: 0;
	background: none;
	cursor: pointer;
	/*border: solid 1px #333;*/
	border: none;
	min-height: 40px;
}


/* ---------
 *  Modules 
 * --------- */

.oacontext {
    padding: 0;
    margin: 0 auto;
    max-width: 644px;
    min-width: 644px;
    min-height: 548px;
    max-height: 548px;
    position: relative;
    background-image: url('img/fondo.jpg');
    overflow: hidden;
}

.content {
	position: relative;
	padding-top: 80px;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(200, 200, 200, .45);
    z-index: 55;
}

.preloader{
    width: 100px;
    height: 103px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -52px;
    background: url('../img/general/preloader.gif');
    color: transparent;

}

 /* content */
.main-text {
	margin: 10px 30px 0px 30px;
	padding: 20px;
	line-height: 38px;
	background-color: rgba(255,255,255,.4)
}

[data-frag] {
	transition: all 2s linear;
	overflow: hidden;
}

.trash {
	width: 80%;
	height: 200px;
	position: absolute;
	bottom: 0;
	right: 0;
	border: solid 1px #333;
	font-size: 22px;
	color: #b9b5b7;
	line-height: 25px;
}

/* Ventanas */
.vntn {
   /* border: 1px solid #000;
    background-color: #FFF;
    box-shadow: 0 2px 3px #666666;*/
    padding: 20px;
    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    max-width: 600px;
    min-width: 300px;
    z-index: 50;
}


.vntn--btn-cerrar {
    right: 10px;
    top: 10px;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    color: #000;
    font-weight: bold;
    height: 35px;
    width: 35px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #989694;
}

.vntn--titulo {
    text-transform: uppercase;
    font-size: 25px !important;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 20px;
}

.vntn--contenido {
    font-size: 24px;
}

.vntn--contenido > p {
    padding-bottom: 10px;
    font-size: 24px;
}

.vntn-inst {
	width: 500px;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	bottom: auto;
	right: auto;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	margin: auto;
	z-index: 55;
	background-color: #fff;
	border: 3px solid #9b40db;
}

.vntn-inst > .vntn--btn-cerrar {
	border: none;
	background: none;
	top: 0px;
	right: 0px;
	color: white;
	font-size: 24px;
}
.vntn-inst > .vntn--btn-cerrar::before {
    border-color: #a520db #a520db transparent transparent;
    border-style: solid;
    border-width: 35px;
    content: "";
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    z-index: -1;
}
.vntn-inst > .vntn--btn-cerrar:hover::before, 
.vntn-inst > .vntn--btn-cerrar:active::before{
	border-color: #7e1aa6 #7e1aa6 transparent transparent;
}


.vntn-feedback {
	border: solid 3px #f987a7;
	overflow: hidden;
	min-width: 250px;
	min-height: 100px;
	top: auto;
	bottom: -50px;
	left: 0;
	right: 0;
	width: 90%;
	z-index: 60;
	z-index: 60;
	background-color: #fff;
}
.vntn-feedback > .vntn--btn-cerrar {
	border: none;
	background: none;
	top: 0px;
	right: 0px;
	color: white;
	width: 44px;
	height: 44px;
	font-family: sans-serif;
	font-size: 24px;
}
.vntn-feedback > .vntn--btn-cerrar::before {
    border-color: #f987a7 #f987a7 transparent transparent;
    border-style: solid;
    border-width: 35px;
    content: "";
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    z-index: -1;
}
.vntn-feedback > .vntn--btn-cerrar:hover::before,
.vntn-feedback > .vntn--btn-cerrar:active::before{
    border-color: #db547a #db547a transparent transparent;
}


.vntn-feedback > .vntn--contenido {
	padding: 20px 10px;
}

.vntn-feedback[data-correct="true"] {
	border-color: #02c277;
}
.vntn-feedback[data-correct="true"] > .vntn--btn-cerrar::before {
	border-color: #02c277 #02c277 transparent transparent;
}
.vntn-feedback[data-correct="true"] > .vntn--btn-cerrar:hover::before,
.vntn-feedback[data-correct="true"] > .vntn--btn-cerrar:active::before{
	border-color: #14a27e #14a27e transparent transparent;
}

.vntn-feedback[data-correct="false"] {
	border-color: #cc4940;
}
.vntn-feedback[data-correct="false"] > .vntn--btn-cerrar::before {
	border-color: #cc4940 #cc4940 transparent transparent;
}
.vntn-feedback[data-correct="false"] > .vntn--btn-cerrar:hover::before,
.vntn-feedback[data-correct="false"] > .vntn--btn-cerrar:active::before{
	border-color: #b3362e #b3362e transparent transparent;
}



.btn{
    font-family: 'londrina_solidregular', Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    color: #fff;
    padding: 5px;
}

/* Bt instrucciones */
.btn-instr{
 position: absolute;
 top: 0px;
 left: 0px;
 width: 135px;
 height: 38px !important;
 background-image: url('img/bt_indicaciones.png');
 font-size: 20px !important;
}
.btn-instr:hover,
.btn-instr:active{
 background-image: url('img/bt_indicaciones_over.png');
}



.btn-finish{
    position: absolute;
    top: 270px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    width: 140px;
    padding: 10px;
    background-color: #0099cc;
    border: none;
    box-shadow: -4px 4px 0 #b8bfc0;
}
.btn.btn-finish:hover,.btn.btn-finish:active{
    box-shadow: -4px 4px 0 #5fb9cc;
}

.button-bar {
    margin-top: 30px;
	text-align: center;
}

.btn--confirmar{
    width: 120px;
    background-color: #02c277;
    border: none;
    margin-right: 20px;
    margin-top: 15px;
    box-shadow: -4px 4px 0 #c5d2cc;
}
.btn--confirmar:hover,.btn--confirmar:active{
    box-shadow: -4px 4px 0 #75ddb4;
}

.btn--borrar{
    width: 120px;
    background-color: #0099cc;
    border: none;
    margin-top: 15px;
    box-shadow: -4px 4px 0 #c5d2cc;
}
.btn--borrar:hover,.btn--borrar:active{
    box-shadow: -4px 4px 0 #50bce0;
}

/* Wordselector */
.word {
	cursor: url(../img/cursor_frases.ico), pointer;
	position: relative;
}
.selWord {
	/*border-bottom: 1px solid cyan;*/
}

.highlightSelection {
	background-color: #86dff5;
}

.highlightFirst {
	border: dashed 1px #aaa;
}

.word.e-inactivo {
	color:#139a65;
	cursor: default;
}

.word.e-inactivo.e-incorrecto {
	color:  #0099cc;
	cursor: default;
}


.word.e-capitalize {
	text-transform: capitalize;
}

.dr {
    position:absolute;
    -ms-touch-action: none;/*compatibilidad drag ie11 */
    touch-action: none; /*compatibilidad drag de edge*/
    display: block;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 98%;
    height: 98%;
    /*box-shadow: 0 0 1px 1px #369 inset;
    background-color:rgba(0,0,0,.4);*/
    z-index:10;
    
}

.dr.ui-draggable-dragging {
    background-color:rgba(0,255,0,0); /* bacdroun miestras se arrastra elemento */
}

.final-text {
	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}

/* End Modules */



/* ---------
 *  States 
 * --------- */

.e-oculto {
	display: none;
}

.e-activo {
	cursor: pointer;
}
.e-inactivo {
	color: #999;
	cursor: default;
}
.btn-finish.e-inactivo{
    display: none;
}

.e-highlight {
	background-color: #73c789;
}

.e-seleccionado {
	
}
.e-marcado {
	
}

[data-frag].e-inactivo {
	opacity: 0;
	background: none;
}

[data-frag].e-trashed {
	display: block;
	background: none;
	margin: auto;
	text-align: center;
}



.oacontext{
    box-shadow: 0 0 3px #00f;
}




/* --------------------------
 *   Responsive 
 * ------------------------- */

/* estilos aplican en width < 1280px  (Android 10" landscape) */
@media screen and (max-width: 1280px) {
	
	/* --------------------------------
	 * Incluir aqui los estilos
	 * a los elementos que cambiaran. 
	 * -------------------------------- */

}

/* estilos aplican en width < 1024px  (iPad landscape) */
@media screen and (max-width: 1024px) {

	/* --------------------------------
	 * Incluir aqui los estilos
	 * a los elementos que cambiaran. 
	 * -------------------------------- */

}

/* estilos palican width < 768px (iPad, Android portrait)*/
@media screen and (max-width: 768px) {

	/* --------------------------------
	 * Incluir aqui los estilos
	 * a los elementos que cambiaran. 
	 * -------------------------------- */

}
