body{
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

p, div {
    font-family: 'sf_cartoonist_handregular', Arial, Helvetica, sans-serif;
    text-align: left;
}

#contenedor{
	position: relative;
	display: block;
	width: 644px;
	height: 548px;
	border: 0px solid #000000;
	overflow: hidden;
	background: url('../img/fondo.jpg') no-repeat;
}

.carta{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-image: url("../img/fondo_carta.png");
	padding-top: 25px;
}

.carta > div.seccion, .carta.demasElems > div.seccion {
	margin: 8px 40px 10px 50px;
}
.carta > div.seccion > div.texto {
	letter-spacing: 0.7px;
	font-size: 24px;
	line-height: 25px;
}
.carta > div.seccion[data-id="lugarFecha"] > div.texto {
	text-align: right;
}
.carta.demasElems > div.seccion > div.texto {
	font-size: 23px;
	line-height: 23px;
}
.carta > div.seccion > div.texto.e-activo {
	cursor: pointer;
}

.carta > div.seccion.e-resaltado{
	background-color: #83dcf2;
}
span.e-resaltado{
	background-color: #83dcf2;
}
span.e-resaltado.e-morado{
	background-color: #c579fa;
}
span.e-resaltado.e-verde{
	background-color: #86e8bd;
}
span.e-amarillo{
	background-color: #fbd759;
}
span.e-rojo{
	background-color: #e46b83;
}



img.estructura{
	position: absolute;
	top: 0px;
	left: 0px;
}

.e-oculto{
	display: none;
	opacity: 0;
}