.btnAprendeMx { box-sizing:border-box; border-color:rgba(0,0,0,0.2); border-bottom-style:solid; border-width:2px; box-shadow:0 0 4px rgba(0, 0, 0, 0.1); overflow:hidden;}
.btnAprendeMx::before { box-sizing:border-box; content:''; position:absolute; left:0; top:0; width:46px; height:46px; pointer-events:none; display:none; }
.btnAprendeMx[data-active="true"]:active { border-style:solid; border-width:1px; }
.btnAprendeMx[data-active="true"]:active::before { background-position:1px 1px; width:47px; border-width:1px; }
.btnAprendeMx[data-active="false"] { border-width:0; }

/* estilo de los botones (https://flatuicolors.com/) */
/* boton turquoise, cuadro icono green_sea */
.turquoise, .verdeAgua { background:#1abc9c !important; }
.turquoise::before, .verdeAgua::before { background:#16a085; }
/* boton emerald, cuadro icono nephritis */
.emerald, .verdeClaro { background:#2ecc71 !important; }
.emerald::before, .verdeClaro::before { background:#27ae60; }
/* boton peter_river, cuadro icono belize_hole */
.peter_river, .azul { background:#3498db !important; }
.peter_river::before, .azul::before { background:#2980b9; }
/* boton amethyst, cuadro icono wisteria */
.amethyst, .lavanda { background:#9b59b6 !important; }
.amethyst::before, .lavanda::before { background:#8e44ad; }
/* boton wet_asphalt, cuadro icono midnight_blue */
.wet_asphalt, .azulOscuro { background:#34495e !important; }
.wet_asphalt::before, .azulOscuro::before { background:#2c3e50; }
/* boton sun_flower, cuadro icono orange */
.sun_flower, .amarillo { background:#f1c40f !important; }
.sun_flower::before, .amarillo::before { background:#f39c12; }
/* boton carrot, cuadro icono pumpkin */
.carrot, .naranja { background:#e67e22 !important; }
.carrot::before, .naranja::before { background:#d35400; }
/* boton alizarin, cuadro icono pomegranate */
.alizarin, .bermellon { background:#e74c3c !important; }
.alizarin::before, .bermellon::before { background:#c0392b; }
/* boton concrete, cuadro icono asbestos */
.concrete, .cian { background:#95a5a6 !important; }
.concrete::before, .cian::before { background:#7f8c8d; }
/* boton clouds, cuadro icono silver */
.clouds, .blanco { background:#ecf0f1 !important; }
.clouds::before, .blanco::before { background:#bdc3c7; }

/* estilo de los botones con iconos */

.calcular::before { background-image: url('icon_calcular.png'); display:block; }

.masa::before { background-image: url('icon_masa.png'); display:block; }
.longitud::before { background-image: url('icon_longitud.png'); display:block; }
.volumen::before { background-image: url('icon_volumen.png'); display:block; }
.metro::before { background-image: url('icon_metro.png'); display:block; }
.swap::before { background-image: url('icon_swap.png'); display:block; }
.restart::before { background-image: url('icon_restart.png'); display:block; }
.verificar::before { background-image: url('icon_verificar.png'); display:block; }
.help::before { background-image: url('icon_help.png'); display:block; }
