body{
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

#contenedor{
	position: relative;
	display: block;
	width: 644px;
	height: 548px;
	border: 0px solid #000000;
	overflow: hidden;
	background: url('img/fondo.jpg') no-repeat;
}

.image-effect {
    position: absolute;
    top: 150px;
    left: 220px;
    border: solid 5px #ffbd00;
    width: 200px;
    height: 200px;
    background-image: url('../img/ilus.jpg');
    background-position: 65% 20%;
    transition: all 1s linear;
    border-radius: 50%;
}

.final-effect {
    top: 0px;
    left: 0px;
    width: 644px;
    height: 548px;
    border: solid 0px #d9b17d;
    border-radius: 0;
}

.e-oculto{
	opacity: 0;
}