/* ----------
 *  Base 
 * ------- */
html {
    /* Base font-size, defined here to use with rem */
    font-size: 100%; /* user defined, or default 16px */
}

body {
    padding: 0;
    margin: 0;
    text-align: center;
    overflow: hidden;
}

img{
}

p, div, ol > li {
    font-family: 'sf_cartoonist_handregular', Arial, Helvetica, sans-serif;
    letter-spacing: 0.7px;
    font-size: 25px;
    line-height: 26px;
    margin: 0px;
}


/* ---------
 *  Modules 
 * --------- */

#contenedor {
    position: relative;
    padding: 0;
    margin: 0 auto;
    max-width: 644px;
    min-width: 644px;
    min-height: 548px;
    max-height: 548px;
    background-image: url('img/fondo.jpg');
}

.imgAlebrije{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    z-index: 50;
}
.imgAlebrije.e-small{
    top: 10px;
    right: 50px;
    left: auto;
    margin: 0px;
    width: 50%;
    height: 50%;
}


.fondoLista{
    position: absolute;
    width: 570px;
    height: auto;
    min-height: 220px;
    right: 20px;
    bottom: 10px;
    margin: 0px;
    padding: 15px;
    text-align: left;
    background-color: #f8eedd;
    border: 2px solid #9d9b98;
    box-shadow: -3px 3px 0 #d3c0a1;
    vertical-align: middle;
}
.fondoLista::before {
    content: "";
    height: 20px;
    top: -12px;
    left: 200px;
    position: absolute;
    transform: rotate(-45deg);
    width: 20px;
    background-color: #f8eedd;
    border: solid 2px #989694;
    border-bottom: none;
    border-left: none;
}

.fondoLista > h1{
    margin: 0px 20px;
    font-size: 27px;
    font-weight: bold;
    width: 400px;
}

.fondoLista ul.lista{
    display: inline-block;
    list-style-type: square;
    width: 220px;
    margin: 15px 10px 10px 10px;
}

/* ---------
 *  States 
 * --------- */

.e-oculto {
	display: none;
}

.e-marcado {
}

.e-nuevo{
    /*background: rgba(172,40,180,0.5);*/
    background: rgba(72,203,231,.6);
}

.e-azul{
    color: blue;
}
.e-morado{
    color: #9b40db;
    font-weight: bold;
    /*background: rgba(172,40,180,0.2);*/
    background: rgba(72,203,231,.6);
}

.oacontext{
    box-shadow: 0 0 3px #00f;
}






/* --------------------------
 *   Responsive 
 * ------------------------- */

/* estilos aplican en width < 1280px  (Android 10" landscape) */
@media screen and (max-width: 1280px) {
	
	/* --------------------------------
	 * Incluir aqui los estilos
	 * a los elementos que cambiaran. 
	 * -------------------------------- */

}

/* estilos aplican en width < 1024px  (iPad landscape) */
@media screen and (max-width: 1024px) {

	/* --------------------------------
	 * Incluir aqui los estilos
	 * a los elementos que cambiaran. 
	 * -------------------------------- */

}

/* estilos palican width < 768px (iPad, Android portrait)*/
@media screen and (max-width: 768px) {

	/* --------------------------------
	 * Incluir aqui los estilos
	 * a los elementos que cambiaran. 
	 * -------------------------------- */

}
